#  Импорт библиотек

In [22]:
import pandas as pd

Чтение файла feed-views.log

In [23]:
df = pd.read_csv('../data/feed-views.log', skiprows=[2,3], skipfooter=2, engine='python',
                 names=('datatime', 'user'), index_col='datatime', sep='\t')

In [24]:
df.head()

                              user
datatime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [25]:
df.tail()

                                 user
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

Переименование datatime в data-time

In [26]:
df.index.names=['data_time']
df.head()

                              user
data_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

Cохранение файла и замена разделителя '\t' на ';'

In [27]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')

In [28]:
df = pd.read_csv('../data/feed-views-semicolon.log')
df.head()

                      data_time;user
0   2020-04-17 12:01:08.463179;artem
1   2020-04-17 12:01:23.743946;artem
2   2020-04-17 12:35:52.735016;artem
3  2020-04-17 12:36:21.401412;oksana
4  2020-04-17 12:36:22.023355;oksana