In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('../data/auto.csv', index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

Количество наблюдений:

In [60]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

удаление дубликатов, принимая во внимание только следующие столбцы: CarNumber, Make_n_model, Fines
из двух равных наблюдений нужно выбрать последнее
проверьте количество наблюдений еще раз

In [61]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'],
                   keep='last',
                   inplace=True)
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

# Работа с пропущенными значениями

сколько значений отсутствует в каждом столбце

In [62]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

удалите все столбцы с более чем 500 пропущенными значениями, используя аргумент thresh, проверьте, сколько пропущенных значений в каждом столбце

In [63]:
df.dropna(axis='columns',
         thresh=500,
         inplace=True)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

замените все отсутствующие значения в столбце Refund предыдущим значением в этом столбце для этой ячейки, используйте метод аргумента, проверьте, сколько значений отсутствует в каждом столбце

In [64]:
df['Refund'].ffill()
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

замените все отсутствующие значения в столбце Fines средним значением этого столбца (исключите значения NA/NULL при вычислении среднего значения), проверьте, сколько значений отсутствует в каждом столбце

In [65]:
df.loc[:, "Fines"] = df["Fines"].fillna(df["Fines"].mean())
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines            0
dtype: int64

In [66]:
# df["Fines"].fillna(df["Fines"].mean())
# df.isnull().sum()

## Разделение и анализ марки и модели

используйте метод apply как для разделения, так и для извлечения значений в новые столбцы Марка и Модель

In [67]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)

df.drop('Make_n_model', axis='columns', inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

сохраните фрейм данных в JSON-файле auto.json

In [68]:
df.to_json('../data/auto.json', orient='records', double_precision=1)